<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seja Voluntário</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>
<body>
    <main class="container">
        <header class="header row">
            <a href="/">
                <img src="./assets/images/logo.png" alt="Seja um Voluntário" />
                <h1 class="text-red text-shadow">Seja Voluntário</h1>
            </a>
        </header>
        <section class="cta flex row">
            <article>
                <h2 class="text-blue">Busque vagas de voluntariado</h2>
                <p>
                    Busque uma vaga perto de você e tome uma atitude ajudando o próximo. Inicie já!
                </p>
                <p>
                    <a class="btn btn-blue" href="./busca"> Quero ser voluntário</a>
                </p>
            </article>
            <article>
                <h2 class="text-green">Anuncie vagas de voluntariado</h2>
                <p>
                    Você que é de uma ONG ou  instituição filantrópica, cadastre suas vagas para encontrar voluntários perto de você!
                </p>
                <p>
                    <a class="btn btn-green" href="./cadastro"> Quero anunciar</a>
                </p>
            </article>
        </section>
        <section class="notices row">

            <h3 class="text-red">Últimos anúncios de vagas</h3>
            <div class="grid grid-col-3">
                <article class="notice">
                    <h4>Acolher Refugiados</h4>
                    <p class="city"><strong>Jaboatão-PE</strong></p>
                    <p>
                        A cidade de Jaboatão recebeu cerca de 200 refugiados Venezuelanos, que vem ao estado em busca de oportunidades.
                    </p>
                    <p>
                        <a class="btn btn-red " href="./anuncio">Saiba Mais!</a>
                    </p>
                </article>
                <article class="notice">
                    <h4>Acolher Refugiados</h4>
                    <p class="city"><strong>Jaboatão-PE</strong></p>
                    <p>
                        A cidade de Jaboatão recebeu cerca de 200 refugiados Venezuelanos, que vem ao estado em busca de oportunidades.
                    </p>
                    <p>
                        <a class="btn btn-red " href="./anuncio">Saiba Mais!</a>
                    </p>
                </article>
                <article class="notice">
                    <h4>Acolher Refugiados</h4>
                    <p class="city"><strong>Jaboatão-PE</strong></p>
                    <p>
                        A cidade de Jaboatão recebeu cerca de 200 refugiados Venezuelanos, que vem ao estado em busca de oportunidades.
                    </p>
                    <p>
                        <a class="btn btn-red " href="./anuncio">Saiba Mais!</a>
                    </p>
                </article>
                <article class="notice">
                    <h4>Acolher Refugiados</h4>
                    <p class="city"><strong>Jaboatão-PE</strong></p>
                    <p>
                        A cidade de Jaboatão recebeu cerca de 200 refugiados Venezuelanos, que vem ao estado em busca de oportunidades.
                    </p>
                    <p>
                        <a class="btn btn-red " href="./anuncio">Saiba Mais!</a>
                    </p>
                </article>
                <article class="notice">
                    <h4>Acolher Refugiados</h4>
                    <p class="city"><strong>Jaboatão-PE</strong></p>
                    <p>
                        A cidade de Jaboatão recebeu cerca de 200 refugiados Venezuelanos, que vem ao estado em busca de oportunidades.
                    </p>
                    <p>
                        <a class="btn btn-red" href="./anuncio">Saiba Mais!</a>
                    </p>
                </article>
            </div>
        </section>
        <footer class=footer>
            <p>
                <strong> Seja Voluntário</strong> - Feito com amor na cidade de Jaboatão.
            </p>
        </footer>

    </main>


</body>
</html>